@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}

header {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    background-image: url(./images/dev.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}


.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100%;
}

.texto h1 {
    padding: 20px;
    font-size: 6rem;
}

.texto p {
    width: 100%;
    padding: 20px;
    font-size: 30px;
}

.nome-detalhe {
    color: #ffea00
}

.sobre-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-image: url(./images/sobre\ mim.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;
}

.img-box {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.img-box img {
    width: 70%;
    position: absolute;
    left: -100%;
    transition: transform 2s ease, right 1s ease;
}

.imagem.ativa {
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);

}

.texto-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.sobre-title {
    display: flex;
    width: 100%;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.sobre-title h3 {
    width: 180px;
    text-align: center;
    font-weight: 500;
    color: #000000;
    background-color: #ffea00;
    font-size: 1.5rem;
}

.texto-box p {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin-top: 2%;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skills-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    overflow: hidden;
}

.skills.ativa {
    transform: translateX(0);
    opacity: 1;
}

.skills-title h3 {
    width: 180px;
    text-align: center;
    font-weight: 500;
    color: #000000;
    background-color: #ffea00;
    font-size: 1.5rem;
}

.skills {
    display: grid;
    margin-top: 80px;
    grid-template-columns: repeat(3, 2fr);
    gap: 10px;
    padding: 10px;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 1s ease, opacity 1s ease;
}

.skil1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    gap: 10px;
    padding: 10px;
    background-color: #191A23;
}

.skil1:hover {
    -webkit-animation: swing 1s ease;
    animation: anime-balanco 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    cursor: pointer;
}

@keyframes anime-balanco {
    15% {
        -webkit-transform: translateX(7px);
        transform: translateX(7px);
    }

    30% {
        -webkit-transform: translateX(-7px);
        transform: translateX(-7px);
    }

    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }

    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }

    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.tech-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #000000;
}


.port-title h3 {
    width: 180px;
    margin-top: 100px;
    text-align: center;
    font-weight: 500;
    color: #000000;
    background-color: #ffea00;
    font-size: 1.5rem;
}

.grids-container {
    display: grid;
    width: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
    place-items: center;
}


.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 400px;
    background-color: #191A23;
    padding: 30px;

}

.img-projeto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;


}

.img-projeto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.box h4 {
    display: flex;
    font-size: 1rem;
    margin-top: 2%;
    font-weight: 200;
    color: #fff;
    width: 90%;
    justify-content: left;
}

.buttons {
    display: flex;
    margin-top: 2%;
    gap: 10px;
    width: 90%;
    justify-content: left;

}

.buttons a {
    text-decoration: none;
}

button.github-btn,
button.view-btn {
    outline: none;
    box-shadow: none;

}

.github-btn {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #fff;
    font-weight: 200;
    border-radius: 4px;
    width: 100px;
}

.github-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.view-btn {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #fff;
    font-weight: 200;
    border-radius: 4px;
    width: 100px;
}

.view-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}


footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: #191A23;
}

.creditos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    color: #fff;
}

.redes-ct {
    display: flex;
    width: 30%;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.redes-ct img:hover {
    -webkit-animation: swing 1s ease;
    animation: anime-balanco 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    cursor: pointer;
}

@keyframes anime-balanco {
    15% {
        -webkit-transform: translateX(7px);
        transform: translateX(7px);
    }

    30% {
        -webkit-transform: translateX(-7px);
        transform: translateX(-7px);
    }

    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }

    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }

    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}